<h1>Dumperoo!</h1>
<p class='lead'>Gotta move on?</p>

<div class='row'>
  <div class='span6'>
    <blockquote>
      <p>Are you in a relationship that going through motions? Are you together but you don't know why?</p>
    </blockquote>
  </div>
  
  <div class='span6'>
    <blockquote class='pull-right'>
      <p>Would you secretly like to break up, but you just can't bring yourself to pull the trigger?</p></p>
    </blockquote>
  </div>
</div>

<h3>Well hold that thought, cuz coming soon it's Dumperoo, the effective way to let him or her know that you want to be done, but that you just don't want to put the effort into breaking up!</h3>
<p>Traditional breakups can be like as delicate as brain surgery, requiring tact and patience to execute.<p>
<h2>Dumperoo! is the hand grenade of breakups! </h2>
<h1>Coming soon!</h1>